{% extends "base.html" %}
{% load static %}
{% load booking %}

{% block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Webpage Title -->
        <title>Booking</title>
                
        <!-- Favicon  -->
        <link rel="icon" href="{% static 'images/c.png' %}">
    </head>
    <body data-spy="scroll" data-target=".fixed-top">
        
        <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1>GHIT Booking</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->
        

        <!--Calendar-->
        <br>
        <!--The form starts here-->
      <form action="https://formdump.codeinstitute.net/" method="post" target="_blank">
        {{ booking.my_date_field }}

        <!--Fill in proposed Date and time-->
        <fieldset class="container border-bottom pb-5 mb-5">
           <legend>Choose a date</legend>
           <label class="form-label" for="BookIN">Book in date</label>
           <input class="form-control bg-secondary mb-3" id="BookIN" type="date" name="Book in" min="2022-06-01" max="2028-07-01" title="you can book up to 6 years in advance" required>
          </fieldset>
          <br>
          <fieldset class="container border-bottom pb-5 mb-5">
            <legend>Choose a time slot</legend>
            <label class="form-label" for="BookIN">Book in Time</label>
            <input class="form-control bg-secondary mb-3" id="BookIN" type="time" name="Book in" min="12:00" max="23:30" title="Opening times 12pm - 11.30pm" required>
           </fieldset>


        <!-- Form -->
        <div class="ex-form-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        
                        <!-- Contact Form -->
                        <form class="mt-5">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="cname" required>
                                <label class="label-control" for="cname">Name</label>
                            </div>
                            <div class="control">
                                {% render_field form.name class="input" placeholder="Your name" %}
                              </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="cemail" required>
                                <label class="label-control" for="cemail">Email</label>
                            </div>
                            <div class="control">
                                {% render_field form.email class="input" placeholder="you@email.com" %}
                              </div>
                            <div class="form-group">
                                <textarea class="form-control-textarea" id="cmessage" required></textarea>
                                <label class="label-control" for="cmessage">Your message</label>
                            </div>
                            <div class="control">
                                {% render_field form.message rows="10" placeholder="Your message" class+="textarea" %}
                              </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Submit Message</button>
                            </div>
                        </form>
                        <!-- end of contact form -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-form-1 -->
        <!-- end of form -->


        <!-- Basic -->
        <div class="ex-basic-1 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <p class="mb-5">For More information contact us here: contact@ghit.com <a href="mailto:contact@ghit.com">contact@ghit.com</a>
                        <br>Call us here: <a href="tel:39-153-246-9713">+39 153 246 9713</a></p>
                        <h2 class="mb-3">How to find us</h2>
                        <p class="mb-5">We are located in Bari Central, right in the heart of the Famous port city of Puglia.</p>
                            
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12023.032400790868!2d16.8701131!3d41.1179738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27c01662a1ec2a0a!2sBari%20Centrale!5e0!3m2!1sen!2sit!4v1655122204653!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                            
                        <p class="mb-5">You can also download our menu here:</p>
                        <a class="btn-solid-reg mb-5" href="home.html#header">Download</a>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
        <!-- end of basic -->

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © GHIT</p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
{% endblock content %}
{% block scripts %}
        <!-- Scripts -->
        <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
        <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
        <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
        <script src="js/scripts.js"></script> <!-- Custom scripts -->
        <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
        {% endblock scripts %}
    </body>
</html>