{% extends "base.html" %}
{% load static %}

    {% block content %}

      <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large">GHIT  <span id="js-rotating">Restaurant, Diner, Ristorante</span></h1>
                            <p class="p-large">Breathtaking Ghanaian and Italian Fusion. that has been blowing minds since 2021.</p>
                            <a class="btn-solid-lg" href="{% url 'booking' %}"><i class="fab fa-google-play"></i>Book a Table</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/sahand-hoseini-f9hHQgvpM8E-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of div -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of header -->
        <!-- end of header -->

         
        <!-- Description -->
        <div class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                        <h2>Grand Experience for the whole family</h2>
                        </div>
                        <div class="text-container">
                            <p>You can choose from a variety of over 25+ original Ghanaian X Italian fusion dishes made from scratch.</p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/the-creative-exchange-HPhbGuaoEwk-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of description -->


        <!-- Details 1 -->
        <div id="details" class="basic-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/toa-heftiba-5JeTin55H9U-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>Locally Sourced food and Prepped and cooked to perfection.</h2>
                            <p>All our ingredients are sourced from Local Farms and Dishes are prepared by world reknowned Ghanaian and Itallian chefs. <a class="page-scroll" href="booking.html">Check Availability</a></p>
                            <a class="btn-solid-lg" href="{% url 'booking' %}">Book a Table</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-2 -->
        <!-- end of details 1 -->

        <!-- Features -->
        <div id="features" class="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Fusion Highlights from the Menu</h2>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">

                    <!-- Tabs Links -->
                    <ul class="nav nav-tabs" id="templateTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fa-solid fa-bowl-food"></i>ACCRA BOLOGNESE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fa-solid fa-pizza"></i>KUMASI X LECCE PIZZA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fa-solid fa-avocado"></i>SALENTO X TAMALE GUAC PLATTER</a>
                        </li>
                    </ul>
                    <!-- end of tabs links -->


                    <!-- Tabs Content-->
                    <div class="tab-content" id="templateTabsContent">
                        
                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-container">
                                            <img class="img-fluid2" src="{% static 'images/emanuel-ekstrom-KJOUnsGXq58-unsplash.jpg' %}" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h3>ACCRA BOLOGNESE</h3>
                                            <p>Traditional Italian spaghetti bolognese dish with a ghanian twits mixed with herbs and spice recip[es used in ghanian dishes for an exquisite taste.</p>
                                            
                                            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of container -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-container">
                                            <img class="img-fluid" src="{% static 'images/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg' %}" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h3>KUMASI X LECCE PIZZA</h3>
                                            <p>Pizza inspired by Lecce locals but with Ghanian  special peppers for that extra kick.
                                                Comes with Jollof infused tomato base, tender slow cooked beef and basil leafs.
                                                Also have in Veg options.</p>
                                            
                                            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of container -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-container">
                                            <img class="img-fluid" src="{% static 'images/edgar-castrejon-J04BD4ysoh8-unsplash.jpg' %}" alt="alternative">
                                        </div> <!-- end of image-container -->
                                    </div> <!-- end of col -->
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h3>SALENTO X TAMALE GUAC PLATTER</h3>
                                            <p>A great appetiser dish for friends or family. Comes with a variety of Avacodo and dips made from Italian inspired and ghanaian sauces.</p>
                                            
                                            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of container -->
                        </div><!-- end of tab-pane -->
                        <!-- end of tab -->

                    </div> <!-- end of tab-content -->
                    <!-- end of tabs content -->

                </div> <!-- end of row --> 
            </div> <!-- end of container --> 
        </div> <!-- end of tabs -->
        <!-- end of features -->


        <!-- Video -->
        <div class="basic-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Take a Deep Dive into Our Pasta Recipes</h2>
                        <div class="p-heading">We have a range of Pasta Recipes not just Ghanaian Fusion but Indian, Chinese, American, Peruvian, Brazillian, Vietnamese and many many more...</div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Video Preview -->
                        <div class="image-container">
                            <div class="video-wrapper">
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=1RApjmvDOjQ" data-effect="fadeIn">
                                    <img class="img-fluid" src="{% static 'images/seyiram-kweku-EePUm9a7YeI-unsplash.jpg' %}" alt="alternative">
                                    <span class="video-play-button">
                                        <span></span>
                                    </span>
                                </a>
                            </div> <!-- end of video-wrapper -->
                        </div> <!-- end of image-container -->
                        <!-- end of video preview -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-4 -->
        <!-- end of video -->


        <!-- Download -->
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/jay-wennington-N_Y88TWmGwA-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-7">
                        <div class="text-container">
                            
                            <!-- Counter -->
                            <div id="counter">
                                <div class="cell">
                                    <div class="counter-value number-count" data-count="12">1</div>
                                    <p class="counter-info">Locations Globally</p>
                                </div>
                                <div class="cell">
                                    <div class="counter-value number-count" data-count="78">1</div>
                                    <p class="counter-info">Fusion Recipes</p>
                                </div>
                                <div class="cell">
                                    <div class="counter-value number-count" data-count="33">1</div>
                                    <p class="counter-info">Recipes Published</p>
                                </div>
                            </div>
                            <!-- end of counter -->

                            <p>Make your reservation for your next family event.</p>
                            <a class="btn-solid-lg" href="{% url 'booking' %}"><i class="fab fa-apple"></i>Book a Table</a>
                            <a class="btn-solid-lg" href="{% url 'account_login' %}"><i class="fab fa-google-play"></i>Reserve a Table</a> 
                        </div> <!-- end of text-container -->   
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of counter -->
        <!-- end of download -->
        
        {% endblock %}
        {% block scripts %}
        <!-- Scripts -->
        <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
        <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
        <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
        <script src="js/scripts.js"></script> <!-- Custom scripts -->
        <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
        {% endblock %}

