{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1>GHIT Menu</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->
<body>

    <!-- Features -->
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Ghanaian X Italian Fusion Menu</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="templateTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fa-solid fa-bowl-food"></i>ACCRA BOLOGNESE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fa-solid fa-pizza"></i>KUMASI X LECCE PIZZA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fa-solid fa-avocado"></i>SALENTO X TAMALE GUAC PLATTER</a>
                    </li>
                </ul>
                <!-- end of tabs links -->

     <!-- Tabs Content-->
     <div class="tab-content" id="templateTabsContent">
                        
        <!-- Tab -->
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid2" src="{% static 'images/emanuel-ekstrom-KJOUnsGXq58-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3>ACCRA BOLOGNESE</h3>
                            <p>Traditional Italian spaghetti bolognese dish with a ghanian twits mixed with herbs and spice recip[es used in ghanian dishes for an exquisite taste.</p>
                            
                            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of tab-pane -->
        <!-- end of tab -->

        <!-- Tab -->
        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3>KUMASI X LECCE PIZZA</h3>
                            <p>Pizza inspired by Lecce locals but with Ghanian  special peppers for that extra kick.
                                Comes with Jollof infused tomato base, tender slow cooked beef and basil leafs.
                                Also have in Veg options.</p>
                            
                            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of tab-pane -->
        <!-- end of tab -->

        <!-- Tab -->
        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/edgar-castrejon-J04BD4ysoh8-unsplash.jpg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h3>SALENTO X TAMALE GUAC PLATTER</h3>
                            <p>A great appetiser dish for friends or family. Comes with a variety of Avacodo and dips made from Italian inspired and ghanaian sauces.</p>
                            
                            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div><!-- end of tab-pane -->
        <!-- end of tab -->

    </div> <!-- end of tab-content -->
    <!-- end of tabs content -->

</div> <!-- end of row --> 
</div> <!-- end of container --> 
</div> <!-- end of tabs -->
<!-- end of features -->


<!--Second section of food-->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
<!-- Tabs Links -->
<ul class="nav nav-tabs" id="templateTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="nav-tab-4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="true"><i class="fa-solid fa-bowl-food"></i>TEMA ARANCINI</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-tab-5" data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="false"><i class="fa-solid fa-pizza"></i>POGGIOFRANCO X KROFU PLANTAIN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-tab-6" data-toggle="tab" href="#tab-6" role="tab" aria-controls="tab-6" aria-selected="false"><i class="fa-solid fa-avocado"></i>AFRANTE LASAGNE</a>
    </li>
</ul>
<!-- end of tabs links -->

<!-- Tabs Content-->
<div class="tab-content" id="templateTabsContent">
        
<!-- Tab -->
<div class="tab-pane fade show active" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid2" src="{% static 'images/pexels-anna-guerrero-1765012.jpg' %}" alt="alternative">
        </div> <!-- end of image-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="text-container">
            <h3>TEMA ARANCINI</h3>
            <p>Traditional Arancini with a twist. Fried Jollof inside inspired by the Jollof balls in Tema.</p>
            
            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of tab-pane -->
<!-- end of tab -->

<!-- Tab -->
<div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="tab-5">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid" src="{% static 'images/best-grilled-fish-and-dodo.jpg' %}" alt="alternative">
        </div> <!-- end of image-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="text-container">
            <h3>POGGIOFRANCO X KROFU PLANTAIN</h3>
            <p>A great portion of Italian Pomodoro sauced Tilapia with a side of Peanut oil friend Plantain. Giving an excquisite taste and Special Sauce on side to dip.</p>
            
            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of tab-pane -->
<!-- end of tab -->

<!-- Tab -->
<div class="tab-pane fade" id="tab-6" role="tabpanel" aria-labelledby="tab-6">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid" src="{% static 'images/fusion lasagne.JPG' %}" alt="alternative">
        </div> <!-- end of image-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="text-container">
            <h3>AFRANTE LASAGNE</h3>
            <p>A distinguished fusion of great Ghanaian proportions. Here we have created a lasagne with ingredients specifically from the Southern region of Afrante.
                Mixed in with some palm nuts and cocoyam leaves.</p>
            
            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div><!-- end of tab-pane -->
<!-- end of tab -->

</div> <!-- end of tab-content -->
<!-- end of tabs content -->

</div> <!-- end of row --> 
</div> <!-- end of container --> 
</div> <!-- end of tabs -->
<!-- end of features -->

<!--Drinks Menu-->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
<!-- Tabs Links -->
<ul class="nav nav-tabs" id="templateTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="nav-tab-7" data-toggle="tab" href="#tab-7" role="tab" aria-controls="tab-7" aria-selected="true"><i class="fa-solid fa-bowl-food"></i>TROPICAL SPRITZ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-tab-8" data-toggle="tab" href="#tab-8" role="tab" aria-controls="tab-8" aria-selected="false"><i class="fa-solid fa-pizza"></i>CAPE COAST CRANBERRY</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-tab-9" data-toggle="tab" href="#tab-9" role="tab" aria-controls="tab-9" aria-selected="false"><i class="fa-solid fa-avocado"></i>OBUASI COLA</a>
    </li>
</ul>
<!-- end of tabs links -->

<!-- Tabs Content-->
<div class="tab-content" id="templateTabsContent">
        
<!-- Tab -->
<div class="tab-pane fade show active" id="tab-7" role="tabpanel" aria-labelledby="tab-7">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid2" src="{% static 'images/chris-briggs-u21PdQeDBfA-unsplash.jpg' %}" alt="alternative">
        </div> <!-- end of image-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="text-container">
            <h3>TROPICAL SPRITZ</h3>
            <p>Sunkissed Tropical Juice with Bari famous Spritz infused for a delicious thirst quenching drink.
                Mocktail version also available.
            </p>
            
            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of tab-pane -->
<!-- end of tab -->

<!-- Tab -->
<div class="tab-pane fade" id="tab-8" role="tabpanel" aria-labelledby="tab-8">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid" src="{% static 'images/rodion-kutsaev-x4z7GiV5_-0-unsplash.jpg' %}" alt="alternative">
        </div> <!-- end of image-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="text-container">
            <h3>CAPE COAST CRANBERRY</h3>
            <p>Cranbery Juice cocktail that makes you feel like your on the Cape Coast beach right now!
                Mocktail version also available.
            </p>
            
            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of tab-pane -->
<!-- end of tab -->

<!-- Tab -->
<div class="tab-pane fade" id="tab-9" role="tabpanel" aria-labelledby="tab-9">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid" src="{% static 'images/d-santiago-jdfbtFd-4k8-unsplash.jpg' %}" alt="alternative">
        </div> <!-- end of image-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="text-container">
            <h3>OBUASI COLA</h3>
            <p>Our Special Rootbeer thats very tasty and thirst quenching. Goes great with the POGGIOFRANCO X KROFU PLANTAIN meal.</p>
            
            <a class="btn-solid-reg page-scroll" href="#download">Order</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div><!-- end of tab-pane -->
<!-- end of tab -->

</div> <!-- end of tab-content -->
<!-- end of tabs content -->

</div> <!-- end of row --> 
</div> <!-- end of container --> 
</div> <!-- end of tabs -->
<!-- end of features -->

{% endblock %}
{% block scripts %} 
<!-- Scripts -->
<script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="js/scripts.js"></script> <!-- Custom scripts -->
<script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>