{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1 class="text-center">GHIT Reservations</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
{% for reservation in reservation_list %}

            <div class="col-md-4 mb-4">
                <div class="card mb-4 h-100 bg-grey">
                    <div class="card-body">
                        <h2 class="card-title">{{ reservation.title }}</h2>
                        <p class="card-text">{{ reservation.body | safe }}</p>
                        <p class="author">Written by: {{ reservation.author }}</p>

                        {% if reservation.author_id == user.id %}
                        <div class="button-box col-lg-12">
                            <a href="{{reservation.pk}}/update" class="btn btn-secondary btn-lg mt-4">Update your
                                Reservation</a>
                            <a href="{{reservation.pk}}/delete" class="btn btn-danger btn-lg mt-4">Delete your
                                Reservation</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}

            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
    <div class="container text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light mx-2">Previous</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light mx-2">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>

{% if user.is_authenticated %}
<a href="{% url 'publish_reservation' %}" class="btn btn-primary btn-lg mt-5">Write a Reservation</a>

{% else %}
<h3>Please <span class="link-inline"><a href="{% url 'account_login' %}">Login</a></span> to leave a reservation
</h3>
{% endif %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}